name: Deploy Node.js app to Azure Web App - ToDoApp-Backend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_4034EF035C424963A1823C64DF6C31DC }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_D2A5854D084F476EAF17BAAA61DAA539 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_D769918958262818296298718936CC94 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'ToDoApp-Backend'
          slot-name: 'Production'
          package: .  # zips the whole repo (Oryx ignores frontend/ due to PROJECT)
