name: Build and deploy Node.js app to Azure Web App - ToDoApp-Backend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      # Only build the Backend now
      - name: Build Backend
        working-directory: backend
        run: |
          npm install
          npm run build --if-present

      - name: Prepare Deployment Folder
        run: |
          mkdir deploy
          cp -r backend/* deploy/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: deploy/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app
          path: ./release

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_4034EF035C424963A1823C64DF6C31DC }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_D2A5854D084F476EAF17BAAA61DAA539 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_D7B7EF8AD792443EAB9EE4018636CC94 }}

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'ToDoApp-Backend'
          package: ./release
